<div *ngFor="let i of data" class="plate-wrapper space-between p-15 m-15">
  <div>
    <div class="space-between">
      <h3>{{i.title | uppercase}}</h3>
      <div class="space-between">
        <p>{{i.duration}}</p>
        <p class="m-left-15">{{i.creationDate}}</p>
      </div>
    </div>
    <p>{{i.description}}</p>
  </div>
  <div>
    <button class="btn m-15">
      <i class="material-icons">
        mail_outline
      </i>
      <span class="m-left-15">Edit</span>
    </button>
    <button (click)="deleteCourse(i)" class="btn m-15">
      <i class="material-icons">
        mail_outline
      </i>
      <span class="m-left-15">Delete</span>
    </button>
  </div>
</div>